@page
@model HyggeGaming.Pages.Teams.GetDevTeamsModel
@{
}

<div class="My-container">
<h1>All teams</h1>
<p>Here is the list of all teams and their employees</p>
<a asp-page="/Employees/Profile">Back to Profile</a>

<table class="table">
    <thead>
        <tr>
            <th>Team Id</th>
            <th>Team Name</th>
            <th>Assigned Game</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DevTeam != null)
        {
            @foreach (var team in Model.DevTeam)
            {
                <tr>
                    <td>@team.DevTeamId</td>
                    <td>@team.DevTname</td>
                    <td>
                        @foreach (var manager in team.TeamManagers)
                        {
                            @manager.Game.GameName
                        }
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var member in team.Employees)
                            {
                                <li>
                                    <strong>@member.FirstName @member.LastName</strong>
                                    | @member.Role.Role1 | Email: <a href="mailto:@member.Mail">@member.Mail</a>)
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>