@page
@model HyggeGaming.Pages.Teams.ManageDevTeamsModel
@{
}

<h1>Manage teams</h1>
<p>This page is your central hub for organizing and managing employee teams within your organization. From here, you can efficiently oversee team structures, assign employees to teams, and ensure smooth collaboration across your workforce.</p>

<div class="row mb-3">
    <div class="col d-flex">
        <a class="btn btn-outline-success me-2" asp-page="/Teams/CreateTeam">Create new team</a>
        <!--Modal btn-->
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editModal_Employee">
            Add employee to a team
        </button>
    </div>
    <div class="col-3 ms-auto text-end">
        <form method="get">
            <div class="form-group d-flex">
                <input type="text" name="SearchString" class="form-control me-2" placeholder="Search teams" value="@Model.SearchString" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="editModal_Employee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Change status for assignment</h5>               
            </div>
            <div class="modal-body">
                <p>
                    Assign employee to a team by choosing employee email and the team. </br>
                    Ïf emplyee already exists in a team, they will be transfered to the chosen team.
                </p>
                <form method="post" asp-page-handler="AssignEmp">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Employee.EmployeeId" /> 
                    <input type="hidden" asp-for="DevT.DevTeamId" /> 

                    <div class="form-group">
                        <label asp-for="@Model.Employee.Mail" class="control-label"></label>
                        <select asp-for="@Model.Employee.Mail" class="form-control">
                            <option value="@Model.Employee">---</option>
                            @foreach (var emp in Model.Employees)
                            {
                                <option value="@emp.Mail">@emp.Mail</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="DevT.DevTeamId" class="control-label"></label>
                        <select asp-for="@Model.DevT.DevTeamId" class="form-control">
                            <option>---</option>
                            @foreach (var team in Model.DevTeams)
                            {
                                <option value="@team.DevTeamId">
                                    Team id: (@team.DevTeamId)
                                    @team.DevTname
                                </option>
                            }
                        </select>
                    </div>

                    <div class="form-group mt-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Team Id</th>
            <th>Team Name</th>
            <th>Assigned Game</th>
            <th>Members</th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        @if (Model.DevTeams != null)
        {
            @foreach (var team in Model.DevTeams)
            {
                <tr>
                    <td>@team.DevTeamId</td>
                    <td>@team.DevTname</td>
                    <td>AssignedGameTitle</td> @*TODO*@
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var member in team.Employees)
                            {
                                <li>
                                    <strong>@member.FirstName @member.LastName</strong>
                                    | Role: @member.RoleId | Email: <a href="mailto:@member.Mail">@member.Mail</a>
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a asp-page="/Teams/UpdateDevTeam" asp-route-id="@team.DevTeamId">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

