@page
@model HyggeGaming.Pages.Teams.UpdateDevTeamModel
@{
    ViewData["Title"] = "Update Team";
}

<h1>Update</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="DevT" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <label asp-for="DevT.DevTeamId" class="control-label"></label>
                <input asp-for="@Model.DevT.DevTeamId" class="form-control" />
                @* <span asp-validation-for="@Model.DevT.DevTeamId" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="@Model.DevT.DevTname" class="control-label"></label>
                <input asp-for="@Model.DevT.DevTname" class="form-control" />
                @*  <span asp-validation-for="@Model.DevT.LastName" class="text-danger"></span> *@
            </div>
           

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/AllEmployees">Back to List</a>
</div>