@page
@model HyggeGaming.Pages.Assignments.AllAssignmentsModel

@{
    ViewData["Title"] = "Manage Assignments";
}

<h1>Manage Assignments</h1>

<p>
    <a asp-page="CreateAssignment">Create New Assignment</a>
</p>
<p>
<form method="get">
    <div class="form-group">
        <input type="text" name="SearchString" class="form-control" placeholder="Search Assignments" value="@Model.SearchString" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.FirstOrDefault().AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.FirstOrDefault().Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignment) 
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameId)
            </td>
            <td>
                <a asp-page="/Assignments/EditAssignment" asp-route-id="@item.AssignmentId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
