@page
@model HyggeGaming.Pages.Employees.AllEmployeesModel

@{
    ViewData["Title"] = "Manage Employees";
}

<h1>Manage Employees</h1>

<form method="get">
    <div class="form-group">
        <input type="text" name="SearchString" class="form-control" placeholder="Search employees by name" value="@Model.SearchString" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<div>
    <a asp-page="/Employees/Profile">Back to Profile</a>
</div>
<p>
    <a asp-page="/Employees/AddEmployee">Add New Employee</a>
</p>

@if (!string.IsNullOrEmpty(Model.successMsg))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.successMsg</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Address)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Mail)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Password)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().DevTeam.DevTeamId)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Role.RoleId)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().ZipCodeNavigation.ZipCode)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                <td>
                    <input type="checkbox" id="toggle_@item.EmployeeId" class="toggle-checkbox hide" />
                    <span class="obfuscated">***</span>
                    <span class="visible hide">@item.Password</span>
                    <button type="button" class="toggle-btn btn btn-link p-0" onclick="togglePasswordVisibility('@item.EmployeeId')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                    </button>
                </td>
                <td>@Html.DisplayFor(modelItem => item.DevTeam.DevTeamId)</td>
                <td>@Html.DisplayFor(modelItem => item.Role.RoleId)</td>
                <td>@Html.DisplayFor(modelItem => item.ZipCodeNavigation.ZipCode)</td>
                <td>
                    <a asp-page="/Employees/UpdateEmployee" asp-route-employeeId="@item.EmployeeId">Update</a>
                    <a asp-page="/Employees/DeleteEmployee" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- JavaScript -->
<script>
    function togglePasswordVisibility(employeeId) {
        const checkbox = document.getElementById(`toggle_${employeeId}`);
        checkbox.checked = !checkbox.checked;
    }
</script>