@page
@model HyggeGaming.Pages.Employees.ProfileModel
@{
}

<div class="m-2 border-bottom">
    <h1>Profile</h1>
</div>

<div class="row d-flex align-items-start">
    <div class="col-3 border-end align-content-center">
        <div>
            <img class="profile-img" src="~/img/ProfileOtter.png" />
        </div>

        <div class="form-like">
            <span class="fake-label">Employee ID:</span>
            <span class="fake-input">@Model.Employee.EmployeeId</span>
        </div>
        <div class="form-like">
            <span class="fake-label">Full Name:</span>
            <span class="fake-input">@Model.Employee.FirstName @Model.Employee.LastName</span>
        </div>
        <div class="form-like">
            <span class="fake-label">Email:</span>
            <span class="fake-input">@Model.Employee.Mail</span>
        </div>
        <div class="form-like">
            <span class="fake-label">Full Address:</span>
            <span class="fake-input">@Model.Employee.Address, @Model.Employee.ZipCode @Model.Employee.ZipCodeNavigation.City1</span>
        </div>
            <div class="form-like">
                <span class="fake-label">Password:</span>
                <span class="fake-input">
                    <input type="password" value="@Model.Employee.Password"
                           class="password-field" />
                    <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#updatePasswordModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                        </svg>
                    </button>
                </span>
            </div>
        </div>


        
    </div>



    <div class="col-7 mt-5">
        <div class="form-like">
            <span class="fake-label">Role</span>
            <span class="fake-input">@Model.Employee.Role.Role1</span>
        </div>
        <div class="form-like">
            @if (Model.Employee.DevTeam != null)
            {
                <h3>Team @Model.Employee.DevTeam.DevTname:</h3>

                <span class="fake-label">Team members:</span>

                <div class="fake-input">

                    @if (Model.Employees != null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in Model.Employees)
                                {
                                    <tr>
                                        <td>@member.FirstName @member.LastName</td>
                                        <td>@member.Mail</td>
                                        <td>@member.Role?.Role1</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            }
            
        </div> 

        @if (Model.Game != null)
        {
        <h4>Assignments for @Model.Game.GameName</h4>

        <div class="row justify-content-evenly">
            @if (Model.Assignments != null)
            {
                @foreach (var item in Model.Assignments)
                {
                    <div class="col-12 col-sm-6 col-lg-3 m-2">
                        <div class="fake-input p-1">
                            <h4>@item.AssignmentName</h4>
                            <p>@item.Description</p>
                            <p>Status: @item.Status</p>
                            <div class="card-footer">
                                <!--Modal btn-->
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editModal_@item.AssignmentId">
                                    Change status
                                </button>
                            </div>
                        </div>
                    </div>


                        <!-- Modal -->
                        <div class="modal" id="editModal_@item.AssignmentId">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Change status for assignment</h5>
                                    </div>
                                    <div class="modal-body">

                                        <form method="post" asp-page-handler="Edit">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="@item.AssignmentId" name="assignment.AssignmentId" />

                                            <div class="form-group">
                                                <label asp-for="@item.AssignmentName" class="control-label"></label>
                                                <input asp-for="@item.AssignmentName" name="assignment.AssignmentName" class="form-control" disabled />
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@item.Description" class="control-label"></label>
                                                <input asp-for="@item.Description" name="assignment.Description" class="form-control" disabled />
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@item.Status" class="control-label"></label>
                                                <select asp-for="@item.Status" name="assignment.Status" class="form-control">
                                                    <option value="@item.Status">---</option>
                                                    @foreach (var status in Model.Statuses)
                                                    {
                                                        <option value="@status">@status</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group mt-2">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }
            else
            {
                <p>No assignments available for this game.</p>
            }
            </div>
        }
        
        @*Kommentar*@
        <div class="d-flex justify-content-between pt-5 mt-5">
            <div class="container fake-input me-3 flex-fill">
                <h4>Important Resources</h4>
                <p>Access essential tools and documents to support your work. Explore policies, training materials, and other helpful resources:</p>
                <ul>
                    <li><a href="/policies">Company Policies</a></li>
                    <li><a href="/handbook.pdf" target="_blank">Employee Handbook</a></li>
                    <li><a href="/training">Training Modules</a></li>
                </ul>
            </div>

            <div class="container fake-input flex-fill">
                <h4>Support and IT Help</h4>
                <p>If you need assistance, you can:</p>
                <ul>
                    <li><a href="/support/faq">Browse the FAQ</a></li>
                    <li><a href="/support/ticket">Submit a Support Request</a></li>
                    <li>Email us at: <a href="mailto:support@company.com">support@company.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@*SideNav - !Admin*@
@if (Model.Employee.RoleId != 1)
{
    <div class="sidenav">
        <a asp-page="/Games/ViewGames">All Games</a>
        <a asp-page="/Teams/GetDevTeams">All Teams</a>

        <div class="logout-container align-bottom">
            <form method="Post" asp-page-handler="Logout" class="d-inline">
                <button type="submit" class="btn btn-outline-dark">
                    <img src="~/img/logout.png"class="p-4" style="max-width:200px;" /> @*Hvis dette beholdes - husk style i css*@
                </button>
            </form>
        </div>
    </div>
}

@*SideNav - admin*@
@if (Model.Employee.RoleId == 1)
{
    <div class="sidenav">


        <a asp-page="/Employees/AllEmployees">Manage Employees</a>
        <a asp-page="/Games/ManageGames">Manage Games</a>
        <a asp-page="/Teams/ManageDevTeams">Manage Teams</a>
        <a asp-page="/Assignments/AllAssignments">Manage Assignments</a>

        <div class="logout-container align-bottom">
            <form method="Post" asp-page-handler="Logout" class="d-inline">
                <button type="submit" class="btn btn-outline-dark">
                    <img src="~/img/logout.png" style="max-width:200px;"/>
                </button>
            </form>
        </div>
    </div>
}

<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePasswordModalLabel">Update Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="ChangePassword">
                <div class="modal-body">
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="text-danger mb-3">@Model.ErrorMessage</div>
                    }
                    <input type="hidden" name="employeeId" value="@Model.Employee.EmployeeId" />
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="NewPassword" required maxlength="30" />
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required maxlength="30" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

